{{template "base/head" .}}
<div class="user activate">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form">
				<h2 class="ui top attached header">
					Registration Completed
				</h2>
				<div class="ui attached segment">
					<p>Please contact Comanche support team to get access to the content:</p>
                    <br>
                    <b><p>Skype: <a href="skype:a.bogdanovskii?chat">a.bogdanovskii</a></p></b>
                    <b><p>Email: <a href="mailto:andriy.bogdanovskii@3d4medical.com">andriy.bogdanovskii@3d4medical.com</a></p></b>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
